#logo {
    width: 50%;
    margin: 1.5em auto 4em auto;
    display: block;
}

#fb {
    background: #3D62B3;
    color: #fff;
}

#google {
    background-color: #D34836;
    color: #fff;
} 

button {
    padding:1.2em;
    width:100%;
    cursor:pointer;
    margin-bottom:15px;
    font-size:1.3em;
    }

@media (max-width: 600px) {
    #page {
        padding: 1em;
    }
    #toolbar {
        width: 90%;
        margin-left: -45%;
    }
    #fb {
        background: #3D62B3;
        color: #fff;
    }

    #google {
        background: #D34836;
        color: #fff;
    }
}