.wrapper {
    overflow: hidden;
}

h1 {
    font-size: 3rem;
}

.header-content {
    height: 100px;
    background-color: lightskyblue;
}

.header-buttons {
    height: 100px;
    background-color: lightsteelblue;
}

.left {
    height: 200px;
    background-color: red;
}

.middle {
    height: 4000px;
    background-color: lightgrey;
}

.right {
    height: 200px;
    background-color: blue;
}