/* You can add global styles to this file, and also import other style files */
@import '~bulma/bulma';

@import '~@angular/material/core/theming/all-theme';

// variables
$primary-dark-color: #c62828;
$primary-color: #e53935;
$primary-light-color: #ff5252;
$primary-text: #212121;
$secondary-text: #757575;
$link-text: #2196F3;

body {
    background:#fff;
    color: $primary-text;
}

a {
    color: $link-text;
}

.form-container {
    background:white;
    padding:3.5em;
    width:500px;
    position:fixed;
    left:50%;
    margin-left:-250px;
}

.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}


.md-slider-horizontal {
    width: 100%;
}

label {
    font-weight: bold;
    margin: 1.5em 0;
    display: block;
}

.mat-tab-body {
    overflow-y: hidden !important; 
}
.mat-card {
    margin-bottom: 1rem;
}

.mat-card-image {
    margin: 0 !important;
}

h2 {
    margin: 1.7em 0 .9em 0;
}

.error {
    background:#f1f0ef;
    padding:1em;
    width:100%;
    display:block;
    margin-bottom:20px;
}

// Loader
.loader-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pulse-loader {
    margin-top: 15%;
    margin-left: -5%;
    width: 280px;
    height: 280px;
    background-position-x: 100%;
    background-repeat: no-repeat;
    background-position-y: 100%;
}

.pulse {
	animation-name: pulse_animation;
	animation-duration: 5000ms;
	transform-origin:70% 70%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes pulse_animation {
	0% { transform: scale(1); }
	30% { transform: scale(1); }
	40% { transform: scale(1.08); }
	50% { transform: scale(1); }
	60% { transform: scale(1); }
	70% { transform: scale(1.05); }
	80% { transform: scale(1); }
	100% { transform: scale(1); }
}

@media (max-width: 600px) {
    .pulse-loader {
      margin-top: 40%;
    }
}