<!--Toolbar-->
<md-toolbar color="primary">
  <span>EASTCOURT</span>
  <span class="spacer"></span>
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button (click)="logout()" md-menu-item>
      <md-icon>fingerprint</md-icon>
      <span>Logout</span>
    </button>
    <button md-menu-item>
      <md-icon>announcement</md-icon>
      <span>Issues</span>
    </button>
    <button md-menu-item>
      <md-icon>notifications_off</md-icon>
      <span>Disable alerts</span>
    </button>
  </md-menu>
</md-toolbar>

<!--Tabs-->
<md-tab-group>
  <md-tab label="Dashboard">
    <div class="page-padding">
      <h2>Hey {{ name.auth.displayName }}!</h2>
      <h3>I'm alive bitches</h3>
    </div>
  </md-tab>
  <md-tab label="Video's">
    <div class="columns">
      <div class="content-left column is-2"></div>
      <div class="content-middle column is-8">
        <!--<img src="../../assets/images/loader/ripple.gif" />-->

        <div class="cards" *ngFor="let spaceScreen of spaceScreens; let i = index">
          <md-card>
            <img md-card-image src="{{ spaceScreen.img }}">
            <md-card-content>
              <p>{{ spaceScreen.description }}</p>
            </md-card-content>
            <md-card-actions>
              <button md-button (click)="likeMe(i)">
            <i class="material-icons md-18" [class.red-color]="spaceScreen.liked == '1'">favorite</i> LIKE
        </button>
              <button md-button (click)="deleteMe(i)">
            <i class="material-icons md-18">delete</i> DELETE 
        </button>
            </md-card-actions>
          </md-card>
        </div>

      </div>
      <div class="content-right column is-2"></div>
    </div>

  </md-tab>
  <md-tab label="Settings">
    <div class="page-padding">
      <h1>Settings</h1>
      <p>Here you can control the various settings associated with your app.</p>
      <label>Number of Thumbnails</label>
      <md-slider showTicks="true" max="100" min="0" step="1" thumbLabel="true" value="18">
      </md-slider>
      <md-slide-toggle>Some setting</md-slide-toggle>
    </div>
  </md-tab>
</md-tab-group>